.header {
    background-color: hsla(269, 99%, 90%, 0.7);
    border-bottom: 3px ridge hsla(260, 40%, 40%, 0.9);
    color: rgb(33, 21, 53);
    overflow: auto;
    position: relative;
    text-shadow: 0 0 1px rgb(33, 21, 53);
    line-height: 1rem;
    min-height: 145px;
}

.header img {
    position: absolute;
    z-index: 99;
}

.header img:first-child {
    width: 150px;
    position: static;
    z-index: 100;
}

.header img:nth-child(3) {
    max-height: 150px;
    right: 425px;
    top: 0;
}
.header img:nth-child(2) {
    height: 121px;
    width: 130px;
    left: 530px;
    top: 27px;
    border-radius: 90px;
}
.header img:nth-child(4) {
    max-height: 100%;
    right: 1px;
}
.header img:nth-child(5) {
    max-height: 100%;
    right: 127px;
}
.header img:nth-child(6) {
    max-height: 100%;
    right: 276px;
}
.header img:nth-child(7) {
    max-height: 100%;
    right: 578px;
}
.header img:nth-child(8) {
    max-height: 100%;
    right: 745px;
}

.header .title {
    font-size: 36px;
    position: absolute;
    bottom: 30px;
    left: 170px;
}

.header .subtitle {
    font-size: 24px;
    transform: rotate(-15deg);
    position: absolute;
    top: 24px;
    left: 450px;
}

@media screen and (max-width: 650px) {
    .title,
    .subtitle {
        display: none;
    }
    .header img:first-child {
        min-width: 50vw;
        margin: 0 25vw;
    }
}