.main {
    margin: 0 auto 1.5rem;
    clear: both;
    padding: 0.5rem 10rem;
    max-width: 1000px;
    min-height: 35em;
    background-color: #F2F2F2;
    color: #222;
    font-size: 1.1rem;
    line-height: 1.75rem;
    position: relative;
}

.main .article {
    overflow: auto;
    min-height: 35em;
}

.article h1 {
    font-size: 2em;
    border-bottom: 4px double #bbb;
}

.article .author {
    margin-top: -2em;
    margin-bottom: -1em;
    font-size: 0.8em;
    color: #666;
    font-style: italic;
}

.gallery {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.gallery img {
    width: 49%;
    margin-bottom: 10px;
}

.success {
    display: block;
    background-color: green;
    color: #fff;
    padding: 3rem 2rem 1rem;
}

.fail {
    display: block;
    background-color: yellow;
    padding: 3rem 2rem 1rem;
}

.photocal img {
    width: 100%;
}

.hint {
    position: relative;
    min-width: 100px;
    width: fit-content;
    display: inline-block;
    margin-left: 25px;
}

.hint span {
    padding: 5px 25px;
    display: block;
}

.hint button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 0.1s 0.1s;
    font-size: medium;
}

.hint:hover button {
    opacity: 0;
}

.kmom {
    padding-top: 40px;
}

.report-main header {
    margin-bottom: -50px;
}

/* kmom05 */
.search-match {
    display: block;
    margin: 2rem 0;
}

.match-source {
    margin: 0;
    font-size: 1rem;
}

.match-link {
    text-decoration-line: none;
    display: block;
    font-size: 1.3rem;
    padding: 5px 0 2px;
}

.match-desc {
    margin: 0;
}