.brand {
    /*logo pic*/
    color: #fff;
    float: left;
    display: block;
    height: 44px;
    border-radius: 48px;
    margin: 1px 5px 1px 2px;
}

.navbar {
    /*navbar*/
    display: block;
    white-space: nowrap;
    background: rgba(37, 24, 61, 0.733);
    box-shadow: 0 .25em .25em rgba(0,0,0,.1);
    border-bottom: 0.25rem ridge hsla(260, 100%, 85%, 0.9);
    overflow-x: scroll;
    position: fixed;
    max-height: 3.25rem;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    transform: translateZ(0);
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', Verdana, Arial, sans-serif;
}

.navbar-inner {
    display: block;
    min-width: 730px;
    max-height: 3rem;
}
.navbar .nav a {
    /*pages in nav*/
    color: #FFF;
    padding: 0 0.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.navbar a:hover:not(.active) {
    /*all links in nav*/
    color: #e9ddff;
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 25px white, 0 0 25px white, 0 0 5px rgb(23, 0, 36);
}

.navbar .nav li {
    /*nav list items*/
    float: left;
    line-height: 3rem;
    padding: 0 1rem;
}

/*current page*/
.active {
    background-color: hsla(260, 100%, 85%, 0.9);
}

.active a:hover {
    cursor: help;
}

.nav {
    /*nav list*/
    list-style: none;
    position: relative;
    left: 0;
    display: inline-block;
    margin: 0 10px 0 10px;
    padding: 0;
}