.table {
    max-width: 100%;
    border: 1px solid #666;
    border-collapse: collapse;
}

.table th {
    border-bottom: 1px solid #666;
    background-color: #ccc;
}


.calender-table tr {
    background-color: white;
}

.photocal-days tr {
    background: transparent;
    height: 75px;
}

.table tr:nth-child(odd) {
    background-color: #ddd;
}

.table tr:hover {
    background-color: #ccc;
}

/* calender */
.calender-container {
    width: 50%;
    margin: 1rem auto;
    font-family: "Times New Roman", Times, serif;
    background-color: white;
    box-shadow: -2px 5px 10px gray;
}

.calender-container h2 {
    border: 0;
    font-weight: normal;
    color: #666;
    font-size: 180%;
    font-family: inherit;
    margin: 0;
    padding: 8px;
}

.calender-container p {
    width: 100%;
    margin: 0;
    padding: 0.1rem 2%;
}

.calender-container p a {
    display: inline-block;
    width: 49%;
    color: #666;
}

.calender-container p a:last-child {
    text-align: right;
}


.calender-table {
    border: 0;
    background-color: white;
    color: #666;
    border-collapse: collapse;
}

.calender-table td {
    border-bottom: 1px solid #666;
}


.photocal-days td,
.photocal-days th {
    border: 1px solid #cecece;
    background: transparent;
    color: #444;
    font-weight: normal;
}

.photocal-days tbody td {
    text-align: left;
    padding: 2px 4px;
    width: 14%;
    overflow-wrap: break-word;
    vertical-align: top;
    position: relative;
}

.vertical-row-table tr td {
    padding: 10px;
    padding-left: 15px;
    width: 50%;
}

.calender-table tr td:first-child,
.calender-table tr td:last-child {
    text-align: right;
    width: 10%;
    padding: 0 0.5rem;
}


.red-date {
    color: #bd3030;
    background-color: #ececec !important;
}

.calender-table tr td:first-child {
    text-align: right;
    width: 10%;
    padding: 0.2rem 0.5rem;
    font-size: 180%;
}

.calender-table tr td:nth-child(2) {
    width: 27%;
}

.calender-table tr td:nth-child(3) {
    font-size: 65%;
    color: #666;
    line-height: 1.8;
    width: 10%;
    vertical-align: top;
}

.calender-table tr td:last-child {
    text-align: right;
    width: 10%;
    padding: 0 0.5rem;
    color: #666;
    font-size: 120%;
}


.vertical-row-table tr td:first-of-type {
    text-align: right;
    border-right: 1px solid black;
    padding: 10px;
    padding-right: 15px;
}

.photocal-days {
    width: 100%;
    border: 0;
    background: transparent;
    font-size: small;
}

.photocal-days tr td:first-child {
    border: 0;
    width: fit-content;
    vertical-align: middle;
}

.photocal-days thead tr:first-child {
    height: 24px;
    line-height: 1;
}

.photocal-days thead tr:nth-child(2) {
    height: 10px; 
}

.photocal-days thead tr:nth-child(2) td {
    border: 0; 
}

.photocal-days tbody tr td:last-child {
    color: red;
}

.dimmed-day {
    color: #cecece !important;
}

.photocal-days td span {
    display: inline-block;
    line-height: 1.1;
    font-size: 0.6rem;
}

.photocal-days td span:first-child {
    font-size: 1.1rem;
    margin-top: 0;
    vertical-align: top;
}

.photocal-days td span:nth-child(2) {
    color: #777;
}

.photocal-days td span:nth-child(3) {
    color: #777;
    display: block;
}

.photocal-days td span:nth-child(4) {
    color: #444;
    position: absolute;
    bottom: 2px;
    right: 2px;
    display: block;
    text-align: right;
}

.vertical-row-table {
    background-color: transparent;
    border-collapse: collapse;
    width: 100%
}
