.today-main {
    background-image: repeating-radial-gradient(red, yellow 10%, green 15%);
    min-height: 700px;
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
}

.today-article {
    width: 100%;
}

.today-header {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 129px;
    font-size: 2em;
    font-family: "Sixtyfour Convergence", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0,
        "XELA" 0,
        "YELA" 0;
}

.today-week {
    width: 100%;
    height: 1em;
    background: repeating-linear-gradient(black, white 2%);
    color: transparent;
    background-clip: text;
    text-align: center;
    line-height: 1;
    font-variant: small-caps;
    font-weight: 800;
    position: absolute;
    top: 117px;
    font-size: 9em;
}

.today-weekday {
    font-size: 2em;
    position: absolute;
    width: fit-content;
    left: 0;
    top: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-variant-caps: all-small-caps;
    color: rgb(196, 51, 94);
    text-shadow: 0 0 20px rgb(255, 255, 255);
    transform: rotate(-40deg);
}

.today-date {
    width: fit-content;
    position: absolute;
    line-height: 1;
}

p:nth-of-type(3) {
    left: 195px;
    top: 60px;
    transform: rotate(-20deg);
}
p:nth-of-type(4) {
    top: 60px;
    right: 195px;
    transform: rotate(20deg);
}
p:nth-of-type(5) {
    left: 195px;
    bottom: 60px;
    transform: rotate(-160deg);
}
p:nth-of-type(6) {
    right: 195px;
    bottom: 60px;
    transform: rotate(160deg);
}
p:nth-of-type(7) {
    width: 100%;
    text-align: center;
    top: 22px;
}
p:nth-of-type(8) {
    width: 100%;
    text-align: center;
    bottom: 22px;
    transform: rotate(180deg);
}
p:nth-of-type(9) {
    left: 20px;
    top: 198px;
    transform: rotate(-57deg);
}
p:nth-of-type(10) {
    left: 20px;
    bottom: 198px;
    transform: rotate(-123deg);
}
p:nth-of-type(11) {
    right: 20px;
    top: 198px;
    transform: rotate(57deg);
}
p:nth-of-type(12) {
    right: 20px;
    bottom: 198px;
    transform: rotate(123deg);
}
