@import "init.css";

:root {
    --font-family-sans-serif: Verdana, Geneva, Tahoma, Arial, sans-serif;
    --font-family-serif: Georgia, serif;
    --font-family-mono: "Fira Mono", "Source Code Pro", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
    background: #111 url(../img/purpur.jpg) no-repeat fixed;
    background-size: cover;
    line-height: 1.5rem;
    font-family: var(--font-family-sans-serif);
    margin: 0;
}

body {
    margin: 3.25rem 0 0 0;
    font-family: var(--font-family-sans-serif);
    font-weight: 400;
    overflow: scroll;
    min-width: 450px;
    overflow-y: scroll;
}

h1, h2, h3, h4 {
    font-family: var(--font-family-serif);
}
